[submodule ".registry"]
	path = .registry
	url = https://github.com/yiluansong/yiluansong.r-universe.dev
	branch = HEAD
[submodule "BatchPlanet"]
	path = BatchPlanet
	url = https://github.com/zhulabgroup/BatchPlanet
	branch = release
